CONFIG_PRINTK=y
CONFIG_TTY=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=1
CONFIG_SERIAL_8250_RUNTIME_UARTS=1
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="/tmp/kbuild/initramfs.list"
CONFIG_INITRAMFS_COMPRESSION_NONE=y
CONFIG_RD_GZIP=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=n
CONFIG_KERNEL_XZ=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
CONFIG_SYSFS=y
CONFIG_DEVTMPFS=y
CONFIG_TMPFS=y
CONFIG_SHMEM=y
CONFIG_MULTIUSER=y
CONFIG_FUTEX=y
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EVENTFD=y
CONFIG_POSIX_TIMERS=y
CONFIG_FILE_LOCKING=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_UNIX98_PTYS=y
CONFIG_NO_HZ_IDLE=y
CONFIG_HZ_100=y
CONFIG_M686=y
CONFIG_NOHIGHMEM=y
CONFIG_X86_TSC=y
CONFIG_RTC_CLASS=y
CONFIG_RTC_HCTOSYS=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_PCI=n
CONFIG_ACPI=n
CONFIG_NET=n
CONFIG_BLOCK=n
CONFIG_MODULES=n
CONFIG_UTS_NS=n
CONFIG_KALLSYMS=n
CONFIG_BUG=y
CONFIG_ELF_CORE=n
CONFIG_SECCOMP=n
CONFIG_TTY_PRINTK=n
